/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height: 100%;
    width: 100%;
}

.typed-cursor{
    display: none;
}

#head{
    height: 100%;
    width: 100%;
    background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgb(142, 68, 173) 100%);
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: fixed;
}


#insertion{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px 1px white;
}

#continue{
    position: absolute;
    font-size: 40px;
    left: 50%;
    top: 90%;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 3em;
}

#continue :hover {
    text-shadow: none;
    cursor: pointer;
}

.container{
    height: 100%;
    top: 100%;
    margin: 0 auto;
    position: relative;
    background: -moz-linear-gradient(15deg, black, rgb(89, 77, 94), rgb(142, 68, 173));
    background: -webkit-linear-gradient(15deg, black, rgb(89, 77, 94), rgb(142, 68, 173));
    background: linear-gradient(15deg, black, rgb(89, 77, 94), rgb(142, 68, 173));
}

#close {
    text-shadow: 0px 0px 3px black;
    color: white;
    height: 2em;
    width: 2em;
    margin-left: 1em;
    position: absolute;
    margin-top: 1em;
    z-index: 2;
}
    #close:hover{
        cursor: pointer;
    }


.icon{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
    background: radial-gradient(circle, #ff0, orange);
}

.icon:hover{
    background: radial-gradient(circle, white, grey);
}

.leftIcon{
    float: left;
    margin-left: 15%;
}

.rightIcon{
    float: right;
    margin-right: 15%;
}

#contact {
    position: relative;
    top: 10%;
    height: 3em;
    width: 3em;
    font-size: 2em;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(green, white, green);
    border-radius: 15%;
    box-shadow: 0px 0px 10px 2px black;
}

#contact:hover {
    background: linear-gradient(purple, black, purple);
    color: white;
}

#fullcontact {
    flex-direction: column;
}
    #pic {
        width: 150px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px lightseagreen;
    }
    #name{
        font-family: 'Krona One', sans-serif;
        font-size: 25px;
    }

    #social {
        display: flex;
        width: 90%;
        left: 5%;
        justify-content: space-around;
    }
        #social > div {
            font-size: 4em;
        }
        #social a:hover {
            color: black;
        }

.contactInfo > p{
    margin: 0.5em;
}


#about{
    top: 20%;
}

#fullabout{
    display: flex;
    flex-direction: column;
}

    #aboutPics{
        background-image: url("../img/aboutBanner.jpg");
        background-size: cover;
        background-position: center;
        box-shadow: 0px 1px 3px;
        height: 30%;
        width: 100%;
        margin: 2%;
    }
    #summWrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.8));
    }
        #aboutSummary {
            color: rgba(255, 255, 255, 0.89);
            text-shadow: 0px 0px 1px black;
            overflow: auto;
            height: 60%;
            width: 90%;
            margin: 2%;
        }
            #aboutSummary > p {
                -webkit-margin-before: 0.5em;
            }
            #aboutSummary::-webkit-scrollbar{
                width: 1px;
                height: 1px;
            }
            #aboutSummary::-webkit-scrollbar-thumb{
                background-color: rgb(244, 255, 242);
            }
            #aboutSummary::-webkit-scrollbar-track{
                background-color: rgba(43, 33, 33, 0.582);
            }


#tech {
    top: 20%;
}

#fulltech{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
    #fulltech > div {
        width: 100%;
        text-align: center;
    }
        .endTitle{
            font-size: 2em;
            line-height: 1;
            font-weight: 500;
        }
        #techTitle {
            font-family: 'Share Tech Mono', monospace;
            font-size: 2em;
            font-weight: 600;
        }
            #techTitle > hr {
                width: 80%;
                margin-left: 10%;
                height: 0px;
            }
        #front-end{
            font-family: 'Dancing Script', cursive;
            margin-top: -5%;
            
        }
        #back-end{
            font-family: 'Mina', sans-serif;
        }

    .myStack{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .techicons{
        width: 75%;
        background: rgba(255, 228, 196, 0.7);
        padding-bottom: 1em;
        padding-top: 1em;
        border-radius: 5px;
        box-shadow: 0px 2px 4px grey;
    }
        .devicon{
            font-size: 3em;
        }


#works {
    top: 35%;
}

#fullworks {
    background-image: url('../img/binaryBG.jpg');
    background-position: center;
    background-size: cover;
}
    #workContent {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: 95%;
        overflow: auto;
    }
        #workContent > a {
            color: inherit;
            text-decoration: inherit;
          }

            .worksCard{
                display: flex;
                justify-content: space-around;
                width: 90%;
                margin: 0.5em 5%;
                box-shadow: 0px 1px 3px;
                background: rgba(255, 255, 255, 0.678);
                color: white;
                text-shadow: 0px 0px 3px black;
            }
                .worksImgHolder{
                    width: 200px;
                    display: flex;
                    align-items: center;
                }
                    .worksImg{
                        height: 150px;
                        width: 150px;
                        align-self: center;
                    }

                .worksInfo{
                    text-align: center;
                }
                    .worksInfo > p {
                        margin: 0;
                        color: black;
                        text-shadow: 0px 0px 3px white;
                        font-size: 0.8em;
                    }
                    .workTitle{
                        margin: 0;
                    }

#resume {
    top: 35%;
}

.expanded {
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    border: solid black;
    box-shadow: 0px 0px 10px black;
    background: rgba(255, 255, 255, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb{
    background-color:black;
}
::-webkit-scrollbar-track{
    background-color: rgba(145, 140, 140, 0.692);
}

.fa-sub {
    position: relative;
    left: -.5em;
    width: .2em;
    vertical-align: -.25em;
    text-shadow: -1px -1px 0px white, -1px 1px 0px goldenrod, -1px 0px 0px white;
  }












.clickable:hover{
    cursor: pointer;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 990px) {
    .icon{
        border-radius: 10%;
    }

    #contact{
        height: 4em;
        width: 20%;
        border-radius: 50%;
    }

    .devicon {
        font-size: 5em;
    }    
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
